section {
    min-height: 100vh;
}

#section-welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#welcome-prompt {
    text-align: center;
    font-size: 5.5rem;
}

#choices {
    display: flex;
    justify-content: space-around;
}

.choice-container {
    width: 100%;
    margin: 20px;
}

.btn-choice {
    font-size: 5.5rem;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 50px;
}

