.social-icons-group {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    background: #000000a8;
}

.social-icon-container {
    margin: 5px;
}

.fa {
	padding: 13px;
	font-size: 1.4rem !important;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	color: white;
	width: 48px;
	height: 48px;
}

#icons-header {
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
}

.fa-twitter {
	background: #55ACEE;
}

.fa-github {
	background: #000000;
}

.fa-linkedin {
	background: #0077B5;
}

.fa:hover {
text-decoration: none;
color: white;
}

.fa-twitter:hover {
	background: #55aceecc;
}

.fa-github:hover {
	background: #000000a2;
}

.fa-linkedin:hover {
	background: rgba(49, 120, 158, 0.635);
}

@media (min-width: 0px) and (max-width: 767px) {

    .notification-box {
        height: 100px !important;
    }
    
    .notification-text {
        font-size: 1.5rem !important;
    }

    #welcome-prompt {
        font-size: 2.5rem !important;
    }

    #welcome-subtitle {
        font-size: 1.5rem !important;
    }

    .choice-container {
        margin: 5px !important;
    }

    .btn-choice {
        font-size: 1.0rem !important;
        width: 175px !important;
        height: 175px !important;
        padding: 5px !important
    }

    .btn-choice h4 {
        font-size: 1.3rem !important;
    }

    #details-group {
        max-width: 450px !important;
        padding: 15px !important;
        margin-left: 15px !important;
        margin-right: 15px !important;
    }

    .detail-container {
        margin: 0px !important;
    }

    .detail-header {
        font-size: 2rem !important
    }

    #gradient-creation-container {
        padding-left: 30px !important;
        padding-right: 30px !important; 
    }

    #color-picker-container {
        margin-top: 20px !important
    }

    .input-container-group h4, #generated-css-header, #share-header {
        font-size: 2rem;
    }

    #color-picker-container {
        margin-bottom: 10px !important;
    }

    .input-container-group {
        margin-top: 5px !important;
    }

    #gradient-submit-container {
        margin-top: 30px !important;
    }

    #gradient-submit-btn {
        width: 100% !important;
        margin-bottom: 30px;
    }

}


section {
    min-height: 100vh;
}

.notification-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75px;
    width: 100%;
    background: #151515;
    z-index: 99;
}

#notification-box-top {
    position: fixed;
    box-shadow: 0px 15px 10px -5px;
    display: none;
}

.notification-text {
    margin-bottom: 0px;
    text-align: center;
    font-size: 2.0rem;
    color: #FFFFFF;
}

#section-welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: linear-gradient(-20deg, #dcc7fc 0%, #fbfcdb 100%);
}

#welcome-prompt {
    text-align: center;
    font-size: 4.5rem;
}

#welcome-subtitle {
    text-align: center;
    font-size: 2.8rem;
}

#choices {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.choice-container {
    /* width: 350px; */
    /* height: 350px; */
    margin: 20px;
    border-radius: 50%;
}

.btn-choice {
    font-size: 2.5rem;
    width: 350px;
    height: 350px;
    padding: 50px;
    border-radius: 50%;
    /* background: #ebfaff; */
}

.btn-choice:hover {
    
}

#section-surprise {
    /* background: #46d4ff; */
    display: flex;
    align-items: center;
}

#details-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* min-height: 100vh; */
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 10px;
    padding: 30px;
}

.detail-container {
    text-align: center;
    margin: 15px 0px 15px 0px;
}

.detail-p {
    text-align: center;
}

#gradient-surprise-css {
    /* font-weight: bold; */
}

.btn-group-colorformat {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 300px;
}

.grad-css {
    text-align: center;
}

#btn-surprise-2 {
    margin-top: 30px;
    width: 100%;
}


#section-custom {
    background: #ffd7b1;
}

#gradient-creation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    /* border: 1px solid black; */
    padding-bottom: 15px;
}

#input-container-group-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.input-container-group {
    min-width: 300px;
    max-width: 500px;
}

.color-input-header {
    text-align: center;
}

#color-picker-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 50px;
}

#generated-css-container {
    display: flex;
    flex-direction: column;
}

#generated-css-header, #generated-css {
    text-align: center;
}

#generated-css {
    font-weight: bold;
}

#share-header {
    text-align: center;
}

#submit-input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

.gradient-submit-input {
    min-width: 350px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#gradient-submit-btn {
    min-width: 50px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* .input-container-group, #generated-css-container, #gradient-submit-container {
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 10px;
} */



