section {
    min-height: 100vh;
}

#section-welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(-20deg, #dcc7fc 0%, #fbfcdb 100%);
}

#welcome-prompt {
    text-align: center;
    font-size: 4.5rem;
}

#welcome-subtitle {
    text-align: center;
    font-size: 2.8rem;
}

#choices {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.choice-container {
    width: 350px;
    height: 350px;
    margin: 20px;
    border-radius: 50%;
}

.btn-choice {
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
    padding: 50px;
    border-radius: 50%;
    /* background: #ebfaff; */
}

.btn-choice:hover {
    
}

#section-surprise {
    /* background: #46d4ff; */
    display: flex;
    align-items: center;
}

#details-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* min-height: 100vh; */
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 10px;
    padding: 30px;
}

.detail-container {
    text-align: center;
    margin: 15px 0px 15px 0px;
}

.detail-p {
    text-align: center;
}

#gradient-surprise-css {
    font-weight: bold;
}

.btn-group-colorformat {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 300px;
}

.grad-css {
    text-align: center;
}

#btn-surprise-2 {
    margin-top: 30px;
    width: 100%;
}










#section-custom {
    background: #ffd7b1;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

#gradient-creation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    border: 1px solid black;
}

#input-container-group-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.input-container-group {
    min-width: 300px;
    max-width: 500px;
}

.color-input-header {
    text-align: center;
}

#color-picker-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#generated-css-container {
    display: flex;
    flex-direction: column;
}

#generated-css-header, #generated-css {
    text-align: center;
}

#generated-css {
    font-weight: bold;
}

#share-header {
    text-align: center;
}

#submit-input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

.gradient-submit-input {
    min-width: 350px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#gradient-submit-btn {
    min-width: 50px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* .input-container-group, #generated-css-container, #gradient-submit-container {
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 10px;
} */



